{% extends 'hospitalauth/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid ">



                    {% if messages %}
                        {% for i in messages %}
                                        <div class="alert alert-{{ i.tags }}">
                                            {{ i }}
                                        </div>
                        {% endfor %}
                    {% endif %}
             <div class="container-fluid mt-4">
            <h3>Your Previous Orders : - </h3>
                 {% for i in dummy %}
                    <div class="card mr-3 my-3">
                          <div class="card-body">
                            <h4 class="card-title">Product - {{ i.product }}</h4>
                            <p class="card-text">Quantity (in tonnes) - {{ i.quantity }}</p>
                            <p class="card-text">Date - {{ i.date }}</p>
                            <p class="card-text">Price - {{ i.price }}</p>
                              <p class="card-text">Order Status - {{ i.shipping_status }}</p>
                              <button class="btn btn-primary btn-sm">View order Status</button>
                              <button class="btn btn-danger mx-3 btn-sm" data-toggle="modal" data-target="#myModal">Cancel order</button>
                              <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Cancel Order</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                            Are you sure you want to cancel your order
                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Yes, I'm sure</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>

                        </div>
                      </div>
                    </div>
                          </div>
                        </div>
                 {% endfor %}
             </div>




        </div>

    {% endif %}
{% endblock content %}
