{% extends 'hospitalauth/base.html' %}
{% load static %}

{% block cont %}
    {% if messages %}
                {% for i in messages %}
                                <div class="alert alert-{{ i.tags }}">
                                    {{ i }}
                                </div>
                {% endfor %}
    {% endif %}

    <div class="myDiv" style=" display:flex; z-index:-1; justify-content:flex-start;width:100%; align-items:center; height:630px; background-image : url('{% static 'hospitalauth/land.jpg' %}'); background-size:cover; background-repeat:no-repeat;">
        <div class="text-center pl-3 ml-3" style="width:49%; z-index: 2; !important">
            <h1 class="heading-title " style="font-size:75px;color:#d9d9d9; font-family: 'Josefin Sans', sans-serif; ">Supply management and monitoring system</h1>
            <br>

            <p class="heading-text " style="font-size:30px;color:#d9d9d9;">A smarter solution to track your supplies</p>

        </div>
    </div>

{% endblock cont %}