{% extends 'hospitalauth/base.html' %}
{% load static %}
{% block content %}

     <div class="container mt-4">

            {% autoescape off %}
              {{ plot1 }}
            {% endautoescape %}

        </div>
<div class="container mt-4">

            {% autoescape off %}
              {{ plotit }}
            {% endautoescape %}

        </div>
 <div class="container mt-4">

        {% autoescape off %}
          {{ plot2 }}
        {% endautoescape %}

    </div>
    <div class="container mt-4">

        {% autoescape off %}
          {{ plot3 }}
        {% endautoescape %}

    </div>

    <div class="container mt-4">
        <img style="max-width:100%;" src="{% static 'hospitalauth/capture.JPG' %}">
    </div>

    <div class="container mt-4">
<h1>The below graph is the forecast of Covid-19 in the next month</h1>

        <div class="">
            <img src="{% static 'hospitalauth/indiaforecast.JPG' %}">
        </div>

    </div>
<div class="container mt-4">
<h1>The below graph is the forecast of Covid-19 in Maharashtra</h1>

        <div class="">
            <img src="{% static 'hospitalauth/maha.JPG' %}">
        </div>
    </div>
{% endblock content %}
