{% extends 'supplierauth/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if messages %}
                    {% for i in messages %}
                        <div class="alert alert-{{ i.tags }}">
                            {{ i }}
                        </div>
                    {% endfor %}
        {% endif %}
        <h2 class="ml-3" > Orders Recieved </h2>
        <div class="container">
            {% for i in orders_received %}
                    <div class="card mr-3 my-3">
                          <div class="card-body">
                            <h4 class="card-title">Product - {{ i.product }}</h4>
                            <p class="card-text">Quantity (in tonnes) - {{ i.quantity }}</p>
                            <p class="card-text">Date - {{ i.date }}</p>
                            <p class="card-text">Price - {{ i.price }}</p>
                              <p class="card-text">Order Status - {{ i.shipping_status }}</p>

                              <button class="btn btn-primary">Confirm Order</button>
                          </div>
                        </div>
                 {% endfor %}
        </div>


    </div>
{% endblock %}